<div class="dashboard-container">
  <!-- <app-sidebar
    [isOpen]="sidebarOpen"
    (closeSidebar)="onCloseSidebar()"
  ></app-sidebar> -->


  <div class="dashboard-content">


    <!-- <app-nav-bar (closeSidebar)="toggleSidebar()" (searchEvent)="onSearch($event)"></app-nav-bar> -->

    <div class="body-part">
      <div class="search">

        <div class="all-categories">
          <div
            *ngFor="let item of filteredDisasters$ | async"
            class="category-card"
          >
            <mat-card
              class="card-2"
              (click)="selectedDisaster(item.category)"
              style="cursor: pointer;"
            >
              <mat-card-content class="category-name">
                {{ item.category }}
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
